.menuContainer{
    width: 400px;
    padding-right: 25px;
}
.menuIcon{
    color: #664328;
    display: block;
    text-align: center;
}
.menuLink{
    color: #664328;
    text-decoration: none;
}
.menuItemFlex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menuList{
    list-style: none;
    padding: 0;
}
@media(max-width: 720px){
    .menuItemFlex{
        
        justify-content: left;
    }
    .menuContainer{
        width: 70vw;
        padding-right: 0;
    }
}